@import url(https://fonts.googleapis.com/css?family=Aclonica);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  border-radius: 50%;
}

.options {
  list-style-type: none;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.loginName {
  font-family: "Aclonica";
}

.questions {
  border-style: solid;
  border-color: #d8dce3;
}

.nav {
  justify-content: center;
}

.nav-tabs .nav-item.nav-link {
  color: black;
  flex-grow: 1;
}

.nav-tabs .nav-item.nav-link.active {
  background-color: #d8dce3;
  color: green;
}

.tab-content .tab-pane.active {
  display: flex;
  justify-content: center;
}

.tab-content .card {
  flex-direction: unset;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px #b6bac2;
}

.tab-content .card .card-img {
  height: 80px;
  width: unset;
  margin-left: 20px;
  border-radius: 50%;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #d0fac0;
}

.quesitonPoll {
  display: flex;
  justify-content: center;
}

.quesitonPoll .card {
  flex-direction: row;
  align-items: center;
  box-shadow: inset 0 0 0 1px #b6bac2;
}

.questionPollImg {
  height: 80px;
  width: unset;
  margin-left: 20px;
  border-radius: 50%;
}

.quesitonPoll .card-title {
  margin-left: 75px;
}

.quesitonPoll .btn {
  margin-left: 12px;
}
